<section class="trackbg">
<div class="pb-5  trackBaby  marginTop" >
    <div class="container">
      <div class="row pt-5 pb-5 l  ">
        <!-- <div class="track"> -->

            <div class="col-md-6 track offset-md-3 d-flex pb-5 paddTop justify-content-center mb-0">
                <h2 >Track Your Baby</h2>
              </div>
              <div class="col-md-6 track offset-md-3  pb-5 pl-5 pr-5  ">
                  <form class=" w-100" name="babyTrack" #babyTrack ="ngForm" novalidate (ngSubmit)="trackForm(babyTrack)">
                        <div class="form-group">
                          <input class="form-control " type="date" placeholder="Date Of Birth"  name="baby_birth" [(ngModel)]="baby_birth" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control  " type="number" placeholder="Weight"  name="baby_weight" [(ngModel)]="baby_weight" required>
                        </div>
                        <div class="form-group">
                            <input class="form-control  " type="number" placeholder="Eat every how many hours ?"  name="eat_time" [(ngModel)]="eat_time" required>
                        </div>
                        <div class="d-flex justify-content-end ">
                            <button type="submit" class="btn  button-shadow marginBottom " [disabled]="!babyTrack.valid">Submit</button>
                        </div>         
                   </form>
              </div>
        
          
        <!-- </div> -->
       
  
      </div>
    </div>
</div>
<div class="trackBaby">
  <div class="move ">
      <img class="img-fluid"  src="../assets/images/trackbaby/girlCar-01.png">
  </div>
</div>


</section>