@import "../../assets/variables.scss";
.secshop{
    background-image:url('/assets/images/view-cart/bg4.png');
    background-position: top;
}
@media all and (max-width:780px){
    .view-cart{
        .col-12{
            button{
                display: block;

            }
        }
    }
}


