<div class="container">
  <div class="d-flex">
    <div class="imgForm d-flex align-items-center justify-content-center"> <img src="../assets/images/sign.png"/> </div>
    <div class="text-center form">
      <h2>Login</h2>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Password</span>
          </div>
          <input type="text" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <button class="mb-3">Connect with facebook</button><br>
        <button>Connect with twitter</button>
        <div class="d-flex align-items-center justify-content-center">Login</div>
    </div>
   

  </div>
</div>
