$pink:#e21c3f;
$blue:#04a2b6;
$inputGrey:#b7b7b7;
input{
    border-radius: 10px;
    width: 100px;
    border: solid 2px $pink;
    color: $inputGrey; 
}
.dropMenu{
    border-radius: 10px;
    border: solid 2px $pink;
    color: $pink;
    background: white;
}
.dropMenuToggle{
    border-radius: 10px;
    border: solid 2px $pink;
    color: $pink;
    background:$pink;
}
.dropMenuToggle::after{
    color: white;
}
.show>.btn-primary.dropdown-toggle{
    background-color: $pink;
    border-color: $pink;
}
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 0.2rem rgba(224, 154, 169, 0.5);
}

nav{
    button{
        height: 30px;
    }
    .dropdown-item:hover{
        background-color: $blue;
        color: white;
    }
    .verticalLine{
        border-right: solid black 1px;
    }
    .facebook{
        border-radius: 50%;
        background-color: #5977b8;
        color: white;
        width: 25px;
        height: 25px;
    }
    .twitter{
        border-radius: 50%;
        background-color: #74cee4;
        color: white;
        width: 25px;
        height: 25px;
    }
    .google{
        border-radius: 50%;
        background-color: #e16c6c;
        color: white; 
        width: 25px;
        height: 25px;
    }
    .insta{
        border-radius: 50%;
        background-color: #e5397f;
        color: white;
        width: 25px;
        height: 25px; 
    }
    .register{
        background-color:$blue;
        border: $blue solid 2px; 
    }
    .register::placeholder{
        color: white;
    }
    .input::placeholder{
        color: $pink;
    }
}

.secondNav{
    background-color: $pink;
    color: white;
    a{
        color: white;
    }
    a:hover{
        color: white;
    }
}