@import "../../assets/variables.scss";

.doctors{
    .secshop{
        background-image:url('/assets/images/doctors/doctorbg.png');
        background-position: top;
       
    }
    a:hover{
        color: white;
    }
    h6{
        font-size:13px;
        color:$cardGray;
    }
    .main-img{
        position: relative;
        overflow: hidden;
        height: 300px;
    }

    .card-body{
        background-color:$cardBG;
            .card-subtitle{
                font-size: 20px;
            }
            .card-text{
                font-size: 18px;
                color: $cardGray;
                font-family: NunitoLight;
                i{
                color: $blue;
                }
            }
    }

}


.add-doctor{
     background-image: url('../../assets/images/addDoctor.png');
    background-attachment: fixed;
    h3{
        color:white;
        font-family:'Nunito';
        font-size:2.5rem;
    }
    input {
        width:80%;
        border-color: white;
        color: $inputGrey;
    }
    select{
        border-color: white;
        color: #6c757d;
    }
    textarea{
        border-radius: 10px;

    }
    button{
        background-color: white;
        color: $blue;
        //box-shadow: 0px 6px 2.46px 0.54px rgba(163, 193, 228, 0.73);
    }
}




// modal
.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
}
.dark-modal .close {
    color: white;
}
.light-blue-backdrop {
    background-color: #5cb3fd;
}


@media (max-width:  992px) {
    .doctors{
      .main-img{
        height: 200px;
      }
    }
  }
  


@media (max-width:  768px) {
.doctors{
  .main-img{
     
    height: 450px;
  }
}
}