@import "../../assets/variables.scss";
.secshop{
    background-image:url('/assets/images/shop/shophead.jpg');
}
.container{
    .row{
        .col-4{
            h4{
                font-family: 'Nunito';
                font-size: 25px;
                color: white;
                background-color: $pink;
                padding: 10px 0 10px 20px;
                border-radius: 20px;
                margin-bottom: 15px;
            }
            .form{
                .inputGroup{
                    border-bottom: 1px solid #d6d5d5;
                    padding: 10px;
                    margin-bottom: 10px;
                    label{
                        padding-left: 8px;
                        font-family: 'Nunito';
                        font-size: 20px;
                    }
                }
                .inputGroup:hover{
                    background-color: $pink;
                    label{
                        color: white;
                    }
                    input{
                        cursor: pointer;
                    }
                }
            }
            .btn{
                width: 85px;
                height: 80px;
                margin: 20px 25px 20px 0; 
                border-radius: 10px;               
                border: 3px solid $blue;
                color: black;
                font-size: 20px;
            }
            .btn-secondary{
                background-color: white;
            }
            .btn-secondary:hover{
                background-color: $blue;
                color: white;
            }
        }
        .col-8{
            .row{
                margin-bottom: 15px;
            }
            .card-columns{
                .card{
                    .cardImg{
                        .hover{
                            display: flex;
                            align-items:flex-end;
                            height: 100%;
                            width: 100%;
                            opacity: 0;
                        }
                        .btn-group{
                            width: 100%;
                        }
                        .btn{
                            width: 34%;
                            border-radius: 0;
                            border:none;
                        }
                        .btn:first-child{
                            background-color: $pink;
                            border-bottom-left-radius: 20px;                      
                        }
                        .btn:nth-child(2){
                            background-color: $orange;                      
                        }
                        .btn:nth-child(3){
                            background-color: $blue;
                            border-bottom-right-radius: 20px;                      
                        }  
                        .hover:hover{
                            opacity:1;
                            cursor: pointer;
                        }                   
                    }                                    
                    .card-body{
                        h5{
                            font-size: 20px; 
                        }
                        p{
                            font-size: 16px;
                            color: #696464; 
                        }
                    }
                }
            }
        }
    }
}

