$pink:#e21c3f;
$blue:#04a2b6;
$orange:#ff9800;
$green:#80cd33;
$inputGrey:hsl(0, 0%, 72%);
$mai_margin:140px;
@font-face {
    font-family: 'Supermercado';
	src: url('/assets/Fonts/supermercado/SupermercadoOne-Regular.ttf');
}
@font-face {
    font-family: 'Chewy';
	src: url('/assets/Fonts/chewy/Chewy.ttf');
}
@font-face {
    font-family: 'Nunito';
	src: url('/assets/Fonts/nunito/Nunito-Regular.ttf');
}
h1{
    font-family: 'Chewy'; 
}
h2{
    font-family: 'Supermercado'; 
}
h5{
    font-family: 'Nunito'; 
}
p{
    font-family: 'Nunito';  
}
button{
    font-family: 'Nunito';
}
.margin{
    margin-bottom: 140px;
}
.inputForm{
    border-radius: 10px;
    width: 100px;
    border: solid 2px $pink;
    color: $inputGrey; 
}
.inputForm:active{
    border-color: $pink;
    box-shadow: 0 0 0 0.2rem rgba(224, 154, 169, 0.5);
}
.inputForm:focus{
    border-color: $pink;
    box-shadow: 0 0 0 0.2rem rgba(224, 154, 169, 0.5);
}
.dropMenu{
    border-radius: 10px;
    border: solid 2px $pink;
    color: $pink;
    background: white;
}
.dropMenuToggle{
    border-radius: 10px;
    border: solid 2px $pink;
    color: $pink;
    background:$pink;
}
.dropMenuToggle::after{
    color: white;
}
.show>.btn-primary.dropdown-toggle{
    background-color: $pink;
    border-color: $pink;
}
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 0.2rem rgba(224, 154, 169, 0.5);
}
button:focus{
    box-shadow: 0 0 0 0.2rem rgba(224, 154, 169, 0.5);
}
a{
    cursor: pointer;
}
.button-shadow{
    background-color: #e21c3f;
    color: white;
    border: 2px solid #e21c3f;
    border-radius: 10px;
    width: 140px;
    height: 40px;
    box-shadow:0px 6px 2.46px 0.54px rgba(167, 1, 30, 0.73);
    font-size: 16px;
    font-family: 'Nunito';
    transition: box-shadow 0.3s ease-in-out;
}
.button-shadow:hover{
    box-shadow: none;
    cursor: pointer;
    transition: box-shadow 0.5s ease-in-out;
}
.secshop{
    background-size: cover;
    background-position: center; 
}
.secBg{
    padding-top:140px;
    padding-bottom: 140px;
    background-color: rgba(0, 0, 0, 0.3);
    h1{
        color: white;
        font-size: 50px;
    }
    a,span{
        color:#c0bebe;
        font-family: 'Nunito';
        font-size: 18px;
        text-decoration: none;
    }
    a:focus{
        color:white;
    }
    span:first-of-type{
        color:#c0bebe;
        padding-right: 20px;
    }   
    .clicked{
        color: white;
    } 
}
.navbar{
    form{
        position: absolute;
        right: 0px;
        .input-group{
            .form-control{
                border-radius: 10px;
                border: solid 2px $pink;
                border-top-right-radius: 0px;
                border-bottom-right-radius: 0px;
                color: $inputGrey;
            }
            .form-control:focus{
                box-shadow: 0 0 0 0.2rem rgba(224, 154, 169, 0.5);
            }
            .input-group-text{
                background-color: $pink;
                border: solid 2px $pink;
                border-radius: 10px;
                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                i{
                    color: white;
                }
            }
        }
    }
}
ngb-pagination /deep/ .page-item.disabled .page-link {
    background-color: $pink;
    color: white;
    border: 2px solid $pink;
    border-radius: 10px;
}
ngb-pagination /deep/ .page-item.active .page-link {
    background-color: $pink;
    border: 2px solid $pink;
    border-radius: 10px;
}
ngb-pagination /deep/ .page-link:hover{
    background-color: $pink;
    color: white;
}
ngb-pagination /deep/ .page-link{
    color: black;
    border: 2px solid $pink;
    border-radius: 10px;
    margin: 3px;
}
ngb-pagination /deep/ .page-item:last-child .page-link{
    border-top-right-radius: 10px;
    border-bottom-right-radius:10px;
}
ngb-pagination /deep/ .page-item:first-child .page-link{
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
}
ngb-pagination /deep/ .page-link:focus{
    box-shadow:none;
}
ngb-rating /deep/ span{
    color: #fac917;
    font-size: 22px;
}
.card{
    border: none;
    .cardImg{
        position: relative;
        border-radius: 25px;
        .hover{
            color: white;
            position: absolute;
            border-radius: 25px;
            .zoomIcon{
                border-radius: 50%;
                background-color: $pink;
                padding: 12px 13px;
                font-size: 18px;
            }
            .zoomIcon:hover{
                background-color: $blue;
                cursor: pointer;
            }
            .zoomBtn{
                background-color: transparent;
                border: transparent;
                color: white;
            }
            .zoomBtn:focus{
                box-shadow: none;
                outline: none;
            }   
        }
        img{
            border-radius: 25px;
            width: 100%;
        } 
    }
}
.dropDownData{
    .inputBtn{
        width: 200px;
    }
    .dropdown-toggle-split{
        width: 40px
    }
    .left{
        background-color: transparent;
        border: solid 2px $pink;
        color: $inputGrey;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        text-align: left;
    }
    .right{
        background-color: $pink;
        border: solid 2px $pink;
        color: white;
        border-radius: 10px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .dropdown-menu{
        left:auto !important;
        right: 0px;
        width: 230px;
        .dropdown-item:hover{
        background-color: $pink;
        color: white;
        }
    }
}
