<div class="container sec3">
  <div class="text-center head">
      <h2 >Shop Now</h2>
      <img src="../assets/sec3/girl.jpg" alt="girl">
      <img src="../assets/sec3/boy.jpg" alt="boy">
  </div> 
  <div class="row">
    <div class="col-6  div-content1">
      <div class="row clothes ">
          <div class="col-7">
              <img src="../assets/sec3/clothes.jpg" alt="clothes">
          </div>
          <div class="col-5">
            <div>
              <h5>CLOTHES</h5>
              <p>See Our Products </p>
              <button type="submit">Shop now</button>
            </div>
          </div>
      </div>    
    </div>
    <div class="col-6 div-content2">
        <div class="row toys">
            <div class="col-7">
                <img src="../assets/sec3/toy.jpg" alt="toys">
            </div>
            <div class="col-5">
              <div>
                <h5>TOYS</h5>
                <p>See Our Products </p>
                <button type="submit">Shop now</button>
              </div>
            </div>
        </div>        
    </div>
  </div>
</div>
