<ngb-carousel class="margin">
  <ng-template ngbSlide>
    <img src="../assets/images/mainHeader1.jpg" alt="Random first slide">
    <div class="carousel-caption d-flex align-items-center justify-content-center">
      <h1>In Our Website Everything To Know For Your Kids</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/mainHeader2.jpg" alt="Random second slide">
    <div class="carousel-caption d-flex align-items-center justify-content-center">
        <h1>Everything To Know For Your Kids</h1>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img src="../assets/images/mainHeader3.jpg" alt="Random third slide">
    <div class="carousel-caption d-flex align-items-center justify-content-center">
        <h1>Everything To Know For Your Kids</h1>
    </div>
  </ng-template>
  </ngb-carousel>

  <div id="sec1" class="container Categories text-center margin">
    <h2 class="text-center mb-2">Categories</h2>
    <img src="../../assets/images/Group 1.png" class="mb-5"/>
    <div class="row">

      <div class="col-lg-3">
        <button type="button" class="btn mb-4 dropMenu" (click)="getSec2Data()">      
          PLACES
        </button><br>
        <button type="button" class="btn mb-4 dropMenu" (click)="getSec2Media()">      
          MEDIA
        </button><br>
        <button type="button" class="btn mb-4 dropMenu" (click)="getSec2Events()">      
          EVENTS
        </button>
      </div>

      <div class="col-lg-9">
        <div class="card-columns col-12 categRight">
          <div class="card text-center" *ngFor="let cd of sec2Data; let i = index;">
            <div>
                <img class="card-img-top" [src]="cd.img">
                <div class="card-body">
                  <h5 class="card-title">{{cd.head}}</h5>
                  <p class="card-text mt-3">{{cd.par}}</p>
                </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

<div id="sec2" class="text-center margin">
  <h2 class="text-center mb-2">Play With Us</h2>
  <img src="../../assets/images/Group 1.png" class="mb-5"/>
  <div class="secPlay">
      <div class="container">
          <div class="play text-center ml-auto">
            <h5>Play Your Game</h5>
            <p class="pt-2">Your child can play these games to improve his skills and make him think more and entertain his time .</p>
            <button type="button" class="btn mb-4 button-shadow" (click)="redirectToPlay()">Play</button>
          </div>
      </div>
    </div>
</div>

<app-sec3></app-sec3>

<a routerLink="/shopItem">shopItem</a>


